/* Bootstrap Overrides */
.form-control {
    font-size: 1.15em;
    padding: 0.3rem 0.75rem;
}

.nav-item, .nav-item:hover, .nav-item:active {  /* All nav tabs */
    background: #bebf8912;
    color: #666;
    font-size: 1rem;
    margin-top: 0.2em;
}

.nav-link.active {  /* Selected nav tab */
    background: #bebf8924 !important;
    color: #000 !important;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0em;
}

.tooltip {
    font-size: 1.15rem !important;
}

/*  */
#keyLevel {
    margin: 0em 2em 0em 0.4em;
    padding-right: 2em;
    text-align: center;
    font-size: 1.5em;
    box-shadow: none;
}

#keylist-thead,  {
    background: #41422f21;
}

#keylist-options {
    background: #bebf8912;
}

.keylist-col {
    cursor: pointer;
}

.keylist-availability-item {
    padding-left: 2rem !important;
    /*text-align: center;*/
}

#key-delete-button {
    padding: 0rem 0.18rem 0.3rem 0.18rem;
    font-size: 1.6rem;
    line-height: 0.6;
    float: right;
}



/* Custom checkbox */
input[type=checkbox].css-checkbox {
	position:absolute;
    z-index:-1000;
    left:-1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}
input[type=checkbox].css-checkbox + label.css-checkbox-label {
	padding-left:25px;
	height:20px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3rem;

}
input[type=checkbox].css-checkbox:checked + label.css-checkbox-label {
	background-position: 0 -20px;
}
label.css-checkbox-label {
	background-image:url("../img/csscheckbox-md.png");
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

    margin-bottom: 0rem;
}
