body {
    background-color: #eee;
}
a, a:visited {
    color: #444;
}
a:hover {
    text-decoration: none;
    color: #17a2b8;
}

.socialmedia {
    padding: 0rem 0.75rem;
    font-size: 22pt;
}
.patreonbtn {
    padding: 0rem 0.5rem;
    font-size: 22pt;
}

#header {
    font-size: 16pt;
    color: #444;
}

#bannerimg {
    width: 60%;
}

#header-patreon {
    border: outset;
    border-width: 2px;
    border-color: rgb(244, 81, 29);
    border-radius: 10px;
    padding-top: -2px;
    padding-bottom: 4px;
}

#header-title {
    font-size: 28pt;
    font-weight: 600;
}

.column-header {
    font-size: 24pt;
    text-align: center;
    padding-bottom:
}

#player {
    margin: 1rem 0rem;
}

#twitter-feed {
    margin: 1rem 0rem;
}

.feed-link {
    font-size: 22pt;
    font-style: italic;
    letter-spacing: 2px;
    margin: 0.5rem 0rem;
}
